* {
	margin: 0px auto;
	padding: 0px auto;
}

/* body {
    padding-top: 3px;
} */
#divTotal {
	background-color: green;
	text-align: center;
	font-weight: bold;
}

#price {
	background-color: #dff0d8;
	text-align: center;
	color: green;
	padding-top: 5px;
	padding-bottom: 5px;
}

.affix {
	right: 0px;
}

.affix-top {
	right: 0px;
	position: fixed;
}

.navbar {
	-webkit-box-shadow: 0px 0px 6px 0px #999;
	-moz-box-shadow: 0px 0px 6px 0px #999;
	box-shadow: 0px 3px 5px 0px #999;

	/* the rest of your styling */
}

.header {
	padding-left: 6%;
	padding-right: 7%;
}

.menuBar {
	float: right;
	padding-bottom: 5px;
}

.menu {
	padding-top: 30px;
	float: left;
	padding-left: 20px;
	font-size: 1.5rem;
}
.menu a{
	text-decoration: none;	
}
.menu a:hover {
	color:#7F8A94;
}


li .categoryList {
	margin-bottom: 2px;
}

#toppadingmenu {
	padding-bottom: 110px;
}